<%- include('./partials/header') %>

<main>
    <div class="container">
        <div>
            <h2>Cadastros - <%= title %></h2>

            <table class="table my-5">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                </tr>
                <% lista.forEach(element => { %>
                <tr>
                    <td><%= element.nome %></td>
                    <td><%= element.email %></td>
                </tr>

                <% }); %>
            </table>

        </div>
    </div>
</main>


<%- include('./partials/footer') %>